<div class='header'>
  <h1>GLselector 0.19-alpha</h1>
  <h2>On the web, glasses selection</h2>
  <div class='header-btn'>
    <button class="ui inverted big button">Get Started</button>
    <button id='demo' class="ui inverted big basic button">Demo</button>
  </div>
</div>
<div class='cam-wrapper'>
  <div id="container">
    <video autoplay="true" id="videoElement"></video>
  </div>
  <button id='cam' class="ui labeled black icon button toggle">
    <i class="play icon"></i>
    Try it!
  </button>
</div>