* {
    color: #e0e0e0;
}

h1 {
    font-size: 4.6rem;
    margin: 0;
    text-shadow: #21201a 1px 0 10px;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

#cam, #take-picture, #send {
    margin-top: 10px;
    margin-bottom:20px;
}
#videoElement {
    width: 340px;
    height: 255px;
    background-color: lightpink;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
#demo-img {
    width: 300px;
    height: auto;
}

.content {
    display: flex;
    justify-content: center;
}

.container {
    margin: 10px;
    width: 350px;
    height: 265px;
    border: 5px white solid;
    border-radius: 5px;
}

.btn-options {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 75px;
    margin-bottom:20px;
}

.header-btn {
    margin: 10px 0;
}

.cam-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.active {
    background-color: transparent;
}

.description p {
    color: black;
}

#error{
    color:red;
}

#faceshape{
    color:green;
}

#faceshape a{
    color:blue;
}