<body>
  <div id="wrapper">
    <h1 data-aos='fade-left' data-aos-duration="1000" data-aos-delay="200">Welcome to GL selector</h1>
    <h3 data-aos='fade-up' data-aos-duration="1000" data-aos-delay="800" class="startedwelcome">Lets get started</h3>
    <p data-aos='fade-right' data-aos-duration="1400" data-aos-delay="1200" class='startedmessage'>
      GL selector is an awesome way to help you find your next pair of glasses. We use the latest facial recognition software to
      custom fit your face to a variety of different frames. The first step in the process is taking a headshot photograph.
    </p>
    <h2 data-aos='fade-left' data-aos-duration="800" data-aos-delay="1200" class='startedmessage2'>
      The facial recognition software uses 2500 optimized algorithms...</h2>
    <h3 data-aos='fade-right' data-aos-duration="800" data-aos-delay="200" class='startedmessage3'>With your permission, we can use your web cam to take an image of your face on the spot...
    </h3>
    <div class='photobooth'>
      <div class='camera' data-aos='flip-up' data-aos-duration="1400" data-aos-delay="400">
        <img src="assets/img/smileface.png" class='beauty'>
        <p data-aos='fade-in' data-aos-duration="100" data-aos-delay="1800" class="beautyword">cheese!</p>
      </div>
      <div class='photo' data-aos='flip-down' data-aos-duration="1400" data-aos-delay="600">
        <img src="assets/img/frownface.png" class='beauty' data-aos='fade-in' data-aos-duration="100" data-aos-delay="2800">
        <p data-aos='fade-in' data-aos-duration="100" data-aos-delay="3000" class="beautyword">womp womp...</p>
      </div>

      <p class='startedmessage4' data-aos='fade-left' data-aos-duration="1400" data-aos-delay="400">
        ...and fit you to several frames that you can be certain will compliment the shape and structure of your face.</p>
      <div class="glassesX">
        <img src="assets/img/glasses1.png" class="glasses" data-aos='flip-down' data-aos-duration="400" data-aos-delay="600">
        <img src="assets/img/glasses2.png" class="glasses" data-aos='flip-down' data-aos-duration="400" data-aos-delay="800">
        <img src="assets/img/glasses3.png" class="glasses" data-aos='flip-down' data-aos-duration="400" data-aos-delay="1000">
        <img src="assets/img/glasses4.png" class="glasses" data-aos='flip-down' data-aos-duration="400" data-aos-delay="1200">
        <img src="assets/img/glasses5.png" class="glasses" data-aos='flip-down' data-aos-duration="400" data-aos-delay="1400">
        <img src="assets/img/glasses6.png" class="glasses" data-aos='flip-down' data-aos-duration="400" data-aos-delay="1600">
        <img src="assets/img/glasses7.png" class="glasses" data-aos='flip-down' data-aos-duration="400" data-aos-delay="1800">
        <img src="assets/img/glasses8.png" class="glasses" data-aos='flip-down' data-aos-duration="400" data-aos-delay="2000">
      </div>
      <p class='startedmessage4' data-aos='fade-right' data-aos-duration="1400" data-aos-delay="400">And remember, all your search results, suggestions, and favorites will be saved in your custom profile.
      </p>
      <img src="assets/img/dashboard.png" class="dashboard" data-aos='zoom-in-up' data-aos-duration="1400" data-aos-delay="400">
      <div class="closing">
        <h2 class="startedclose" data-aos='zoom-in-down' data-aos-duration="1200" data-aos-delay="600">
          And your ready to go! have fun!
        </h2>
        <button [routerLink]="['']" class="ui inverted big button" data-aos='flip-up' data-aos-duration="1200" data-aos-delay="1000">Home</button>
        <button [routerLink]="['/registration']" class="ui inverted big button" data-aos='flip-up' data-aos-duration="1200" data-aos-delay="1200">Register</button>
      </div>
    </div>
  </div>
</body>