* {
    color: #e0e0e0;
}

h1 {
    font-size: 4.6rem;
    margin: 0;
    text-shadow: #21201a 1px 0 10px;
    text-align: center;
}
body{
    background:
    linear-gradient(
            rgba(151,71,64,0.4),
            rgba(147, 98, 93, 0.2)
        ), url(../../assets/img/background_4.jpg);
    background-size: 130%, 130%;
    background-color: rgba(0, 0, 0, 0.0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#wrapper{
    margin: auto;
    margin-top: 80px;
    width: 70%;
}

.startedglasses{
    height: 150px;
    width: 450px;
}

.startedwelcome{
    margin: auto;
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    text-shadow: #21201a 1px 0 10px;
}

.startedmessage{
    margin: auto;
    margin-top: 50px;
    font-size: 1.2em;
    width: 700px;
    color: white;
}

.startedmessage2{
    margin: auto;
    margin-top: 50px;
    font-size: 1.8em;
    width: 600px;
    color: white;
}

.startedmessage3{
    margin: auto;
    margin-top: 100px;
    font-size: 1.5em;
    width: 500px;
    color: white;
}

.startedmessage4{
    margin: auto;
    margin-top: 50px;
    font-size: 1.6em;
    width: 600px;
    color: white;
    text-align: center;
}

.photobooth{
    text-align: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.camera{
    height: 32vh;
    width: 26vw;
    border: solid 3px #e0e0e0;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(182, 99, 111);
}

.photo{
    height: 32vh;
    width: 26vw;
    border: solid 3px #e0e0e0;
    border-radius: 5px;
    display: inline-block;
    margin-left: 5vw;
    margin-bottom: 25px;
    vertical-align: top;
    background-color: rgb(117, 117, 211); 
}

.beauty{
    margin: auto;
    margin-top: 5px;
    text-align: center;
    height: 150px;
    width: 150px;
}

.beautyword{
    text-align: center;
    color: white;
    font-family: 'comic-sans', sans-serif;
    font-size: 1.5em;
}

.notbeauty{
    margin: auto;
    margin-top: 35px;
    text-align: center;
    height: 150px;
    width: 150px;
}

.dashboard{
    margin: auto;
    height: 400px;
    width: 600px;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
}

.glasses{
    height: 90px;
    width: 115px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.glassesX{
    width: 550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.startedclose{
    margin: auto;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    text-shadow: #21201a 1px 0 10px;
    text-align: center;
    margin-bottom: 50px;
}

.closing{
    margin-bottom: 150px;
}