iframe {
    margin-left: 10px;
}

#settings {
    background-color: transparent;
    color: #e0e0e0;
}

#settings:hover {
    background-color: rgba(224,225,226,0.3);
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    padding: 0 20%;
}

.fill {
    flex-grow: 1;
}

.item {
    background-color: rgba(224,225,226,0.3);
}

img{
    outline:none;
    cursor:pointer;
}