<div class='nav' data-aos='slide-down' data-aos-duration="1200" data-aos-delay="200">
  <img [routerLink] = "['']" class='ui small image' alt='logo' src='assets/img/glasses_2.png'>
  <button id="settings" class="ui labeled icon button dropdown item">
    <i class="bars icon"></i>
    Menu
    <div class="menu">
      <div class="item" [routerLink] = "['login']">Login</div>
      <div class="item" [routerLink] ="['registration']" >Register</div>
      <div class="item" [routerLink] ="['getstarted']">Getting Started</div>
    </div>
  </button>

  <div class='fill'></div>

  <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
    Tweet</a>
  <iframe src="https://ghbtns.com/github-btn.html?user=htmercury&repo=GLselector_interface&type=star&count=true" frameborder="0"
    scrolling="0" width="170px" height="20px"></iframe>

</div>