* {
    color: #e0e0e0;

}

/* Login Heading */
h2{ 
    text-shadow: #21201a 1px 0 10px;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    margin-top:20px;

}
.container {
    width: 700px;
    height: 350px;
    margin: 0 auto;
    margin-top:50px;
    align-content:center;
    text-align:center;
}
/* input boxes */
.ui.input>input{
    display:block;
    margin-left:auto;
    max-width:50%;
    margin-right:auto;
    align-content:center;
    color:white;
    margin-top:15px;
    opacity:0.6;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius:15px;
}
/* _ngcontent-c2{
    color:white;
} */

/* input placeholder */
.ui.input>input::placeholder{
    color:white;
}

.ui.icon.input>i.icon{
    margin-left:175px;
    margin-top:6px;
}

/* Username and Password labels */
.ui.form .field>label {
    color:#e0e0e0;
    margin:0;
    padding:0;
    margin-top:20px;
}

/* submit button */
#submit{
background:purple;
opacity:1;
color:white;
text-align:center;
border:none;
width:20%;
border-radius:20px;
height:25px;
outline:none;
cursor:pointer;
}

#link{
    margin-top:20px;
}

.ui.error.message{
    background:transparent;
    font-weight:bold;
    font-size: 15px;
    color:red;
    border:red 2px solid;
    outline:none;
    border-radius:15px;
}