<div class='container' data-aos='fade' data-aos-duration="1400" data-aos-delay="200">
  <h2>Login</h2>
  <form class ="ui form" (submit) = "loginUser()" autocomplete="off">
  <!-- <div id="inputsdiv" class="ui input focus">
    <input class="input" type="Password" placeholder="Password">
  </div> -->
      <div class="column">
        <div class="ui form">
            <div class="ui error message"></div>
                        <div class="field">
                  <div class="ui left icon input">
                    <i class="envelope icon"></i>
                    <input type="text" placeholder="Email" name="email">
                  </div>
                </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="Password" placeholder="Password" name="password">
              </div>
            </div>
          <input id="submit" type="submit" value="Login">
        </div>
      </div>
  </form>
  <p id="link" >Don't Have an Account? <a [routerLink]="['/registration']">Register Here</a></p>


  <!-- [routerLink] ="['/dashboard']" -->