.container {
    width: 700px;
    height: 350px;
    margin: 0 auto;
}

p {
    margin: 0;
    font-weight: 200;
}

img {
    height: 175px;
}

input {
    background-color: rgba(72, 49, 47, 0.4);
    border-radius: 15px;
}

#user-label {
    color: #f8f9fa;
    margin-left: 10px;
}