<div class="container" data-aos='fade' data-aos-duration="1400" data-aos-delay="200">

  <h1 class='ui huge header'>Welcome, Zachary</h1>


  <div id="main">



    <div class="ui card left">
      <div class="image">
        <img src="assets/img/zach.png">
      </div>
      <div class="content">
        <a class="header">Zach</a>
        <div class="meta">
          <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
          Zach is an art director living in New York.
          Name: Zachary Verghese
          <br>
          Email: zverghese@live.com
        </div>
      </div>
      <div class="extra content">
        <button class='ui button'><i></i>Update Information</button>
        <button class='ui button'>Take New Picture</button>
      </div>
    </div>


    <div class="right">
      <h4>Face Shape: <span>Round</span></h4>
      <h4>Recommended Glasses Style: <span>Rectangular </span></h4>
      <div id="glasses">
        <h2>Glasses for you</h2>
        <div>
          <div class="glass">
              <img src="assets/img/glasses1.png">
          </div>
          <div class="glass">
              <img src="assets/img/glasses2.png">
          </div>
          <div class="glass">
              <img src="assets/img/glasses3.png">
          </div>
          <div class="glass">
              <img src="assets/img/glasses4.png">

          </div>
              <div class="glass">
                  <img id="five" src="assets/img/glasses5.png">
              </div>
              <div class="glass">
                  <img id="six" src="assets/img/glasses6.png">
              </div>
              <div class="glass">
                  <img id="seven"  src="assets/img/glasses7.png">
              </div>
              <div class="glass">
                  <img id="eight" src="assets/img/glasses8.png">
    
              </div>
        </div>
      </div>
    </div>

  </div>


</div>