*{
    color: #e0e0e0;
}

.ui.button {
    margin-top: 5px;
}

.container{
    text-align:center;
}

.userinfo button{
    display:block;
    color:black;
}
.glass img{
    height:auto;
    width:100%;
}

#main{
    width:100%;
    margin:0px;
}
.glass[_ngcontent-c3]{
    vertical-align:top;
    display:inline-block;
    justify-content:center;
    align-items:center;
}
.ui.header {
    margin-top: 20px;
    margin-bottom:20px;
    font-size: 2.6em;
    color: #e0e0e0;
}
#seven{
    height:50px;
    margin-top:15px;
}

#five, #six, #eight{
    margin-top:20px;
}
#eight{
    margin-top:25px;
}
.profilepicture{
    margin-bottom:20px;
}
.left, .right{
    display:inline-block;
    vertical-align:top;
}
.left{
    width:20%;
    margin-left:40px;
    margin-right:30px;
    align-content:center;
    text-align:center;
    justify-content: center;
}
.right{
    width:30%;
    margin-left:30px;
    margin-right:40px;
    text-align:left;
}
.profilepicture{
    height:300px;
    border:3px solid green;
}
.glass{
    height:100px;
    width:100px;
    outline:3px solid #6dafff;
    display:inline-block;
    margin:6px;
    background-color:rgba(255,255,255,0.2);
    opacity:0.6;
}

h2{
    margin-top:30px;
}

h4 span{
    color:#f7c9c9;
}