<!-- <div class="ui centered  grid container"> -->

<div id='content' class="ui text container" data-aos='fade' data-aos-duration="1400" data-aos-delay="200">


  <!-- <div class="three ui  buttons center aligned grid container" style="margin:20px;"> -->


  <div class="ui big purple button" id="accountS">
    <div class="content " style="font-size:12px; color:white;">Account setup</div>
  </div>


  <button class="ui big disabled blue button" id="socialP">
    <div class="content" style="font-size:12px; color:white;">Take a selfie</div>
  </button>


  <!-- </div> -->


  <div id="account">
    <div class="ui center aligned  container " id="signUpBox">

      <div class="ui centered header">
        <h1 class="font" style="color:white;">Create your account</h1>
      </div>

      <form id='signup-form' class="ui form" autocomplete="off">
        <div class='many_fields'>
          <div  id="fnamediv" class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input id="fname" type="text" placeholder="First Name" name="name">
            </div>
          </div>
          <div  id="lnamediv" class="field">
              <div class="ui left input">
                <input id="lname" type="text" placeholder="Last Name" name="name">
              </div>
            </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="envelope icon"></i>
              <input type="text" placeholder="Email" name="email">
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" placeholder="Password" name="password">
            </div>
          </div>
        </div>
        <div class="ui error message"></div>
        <div class='btns'>
          <input id="nextbutton" type="submit" value="Next" class="ui inverted blue medium button next1 ">
        </div>

      </form>


    </div>

  </div>


  <div id="social">
    <!-- THIS STARTS CAMERA SECTION -->
    <h1 class="font" style="color:white;">Smile!</h1>

    <div class='content'>
      <div class='cam-wrapper'>
        <div class="container">
          <video autoplay="true" id="videoElement"></video>
        </div>
        <div class='btn-options'>
          <button id='cam' class="ui labeled black icon button toggle">
            <i class="play icon"></i>
            Try it!
          </button>
          <button id='take-picture' class="ui labeled black icon button toggle">
            <i class="camera icon"></i>
            Capture!
          </button>
        </div>
      </div>
      <div class='cam-wrapper'>
        <img class='container' id='capture' src="{{ src_img }}">
      </div>
    </div>

    <!-- <div class="ui centered header">
            <h1 class="font" style="color:rgb(50,153,153);">Social Profile</h1>
          </div>

          <form class="ui form">
            <div class="field">
              <div class="ui left icon input">
                <i class="twitter icon"></i>
                <input type="text" placeholder="twitter">
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <i class="facebook icon"></i>
                <input type="text" placeholder="facebook">
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <i class="github icon"></i>
                <input type="text" placeholder="github">
              </div>
            </div> -->

    <!-- BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS-->

    <div class="two ui buttons">
      <button class="ui medium button prev1">Previous</button>
      <button [routerLink]="['/dashboard']" class="ui medium button submit">Submit</button>
    </div>

    <!-- </form> -->

    <!-- ENDS CAMERA SECTION -->

  </div>



</div>
<!-- </div> -->