* {
    color: #e0e0e0;

}
h2{
    text-shadow: #21201a 1px 0 10px;
    margin-left:auto;
    margin-right:auto;
    width:50%;

}
.container {
    width: 700px;
    height: 350px;
    margin: 0 auto;
    align-content:center;
    text-align:center;
}
.ui.input>input{
    display:block;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    align-content:center;
    margin-top:15px;
    opacity:0.1;
    background:black;
    border:3px solid grey;
    border-radius:15px;
}
.ui.input>input::placeholder{
    color:white;
}
.ui.input>input:focus{
    border:3px solid lightblue;
}
#submit{
background:#8e4545;
opacity:1;
color:white;
text-align:center;
border:none;
width:20%;
}
#inputsdiv{
    align-content:center;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
p {
    margin: 0;
    font-weight: 200;
}

img {
    height: 175px;
}


#user-label {
    color: #f8f9fa;
    margin-left: 10px;
}