/* * {
    color: #e0e0e0;

}

#leftcolumn, #rightcolumn{
    width:40%;
    display:inline-block;
    vertical-align:top;
}
#leftcolumn{
    text-align:center; 
    margin-left:8%;
    margin-right:2%
}
#rightcolumn{
    margin-right:8%;
    margin-left:2%;
} */
/* Login Heading */
/* h2{ 
    text-shadow: #21201a 1px 0 10px;
    margin-left:auto;
    margin-right:auto;
    width:50%;

}

#firstname, #lastname{
    display:inline-block;
    width:50%;
    margin:0px;
    padding:0px;
    text-align:left;
}
.container {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    align-content:center;
    text-align:center;
    margin-top:20px; */
/* } */
/* input boxes */
/* .ui.input>input{
    display:block;
    margin-left:auto;
    max-width:100%;
    margin-right:auto;
    align-content:center;
    margin-top:5px;
    margin-bottom:0px;
    color:white;
    opacity:0.12;
    background:black;
    border:3px solid grey;
    border-radius:15px;
}

#password{
    margin-top:0px;
} */


/* input placeholder */
/* .ui.input>input::placeholder{
    color:white;
}
.ui.form .field{
    margin-bottom:0px;
} */

/* border of input on click */
/* .ui.input>input:focus{
    border:3px solid lightblue;
}

.ui.icon.input>i.icon{
    margin-left:1px;
    margin-top:1px;
} */

/* Username and Password labels */
/* .ui.form .field>label {
    color:#e0e0e0;
    margin:0;
    padding:0;
    margin-top:20px;
}

#leftcolumn{
    background:#8e4545;
    opacity:0.3;
    border-radius:20px;
    height:350px;
    align-content: center;
    flex:content;
    justify-content: center;
} */
/* submit button */
/* #submit{
background:#8e4545;
opacity:1;
color:white;
text-align:center;
border:none;
width:35%;
margin-top:10px;
border-radius:20px;
height:30px;
}
#placeholder{
    margin-top:150px;
} */




*{
    color: #e0e0e0;
}

#content {
    margin-top: 90px;
}
  

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 850ms;
}

.font{
    font-weight:300;
    font-size:40px;
    text-shadow:black;
    color:white;
}
#social{
    display: none;
    padding:20px;
}

#personal{
    display:none;
    padding:20px;
}

#account{
    display: block;
    padding:20px;
}

.ui.segment{
    height:500px;
    width:800px;
}
.ui.container{
    width:800px;
}

#signUpBox{
   background:transparent;
    border:none;
    height:430px;
    color:black;
    border-radius:20px;
}

#signUpBox form {
    display: flex;
    flex-direction: column;
    height: 370px;
    padding-top:40px;
}

#signUpBox .many_fields {
    flex-grow: 1;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns button {
    width: 340px;
}

i{
    background-color:black;
    border-radius:20px;
}
.ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=number]{
    background-color: rgba(0,0,0,0.12);
    opacity: 0.6;   
    color:white;
    border-radius:15px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    margin-left:3px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}

.content{
    color:white;
}

.ui.text.container{
    border:none;
    text-align:center;
}

#nextbutton.ui.inverted.blue.medium.button.next1{
    width:350px;
}
/* CAM CSS */

* {
    color: #e0e0e0;
}

h1 {
    font-size: 4.6rem;
    margin: 0;
    text-shadow: #21201a 1px 0 10px;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

#cam, #take-picture, #send {
    margin-top: 10px;
    margin-bottom:20px;
}
#videoElement {
    width: 400px;
    height: 275px;
    background-color: lightpink;
}
#demo-img {
    width: 300px;
    height: auto;
}

.content {
    display: flex;
    justify-content: center;
}

.container {
    margin: 10px;
    width: 410px;
    height: 285px;
    border: 5px white solid;
    border-radius: 5px;
}

.btn-options {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px;
    margin-bottom:20px;
}

.header-btn {
    margin: 10px 0;
}

.cam-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.active {
    background-color: transparent;
}

.description p {
    color: black;
}

.ui.error.message{
    background:transparent;
    font-weight:bold;
    font-size: 15px;
    color:red;
    border:red 2px solid;
    outline:none;
    border-radius:15px;
}

#fname[_ngcontent-c3], #lname[_ngcontent-c3]{
    display:inline-block;
    width:20%;
}

/* #fname[_ngcontent-c3]{
    background:black;
    opacity:0.12
} */
#fname[_ngcontent-c3][_ngcontent-c3], #lname[_ngcontent-c3][_ngcontent-c3]{
    display:inline-block;
    max-width:100%;
    margin:0px;
}
#fname[_ngcontent-c3][_ngcontent-c3]{
    margin-left:3px;
}
#lname{
display:inline-block;   
border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    border-top-right-radius: 15px;
}

#lnamediv{
    margin-left:1px;
}
#fnamediv, #lnamediv{
    display:inline-block;
    width:49.9%;
}
