


<!-- <div class='container'>
<div id="leftcolumn">
<p id= "placeholder" >Placeholder</p>
</div>

<div id="rightcolumn">
    
        <h2>Register a New User</h2>
        <form (submit) = "createUser()"> -->
        <!-- <div id="inputsdiv" class="ui input focus">
          <input class="input" type="Password" placeholder="Password">
        </div> -->
            <!-- <div class="column">
              <div class="ui form">
                <div id= "firstname" class="field">
                  <div class="ui left icon input">
                      <input class="input" type="text" placeholder="First Name" name= "fname" [(ngModel)] = "newUser.fname">
                      <i class="user icon"></i>
                  </div>
                </div>
                <div id= "lastname" class="field">
                    <div class="ui input">
                        <input class="input" type="text" placeholder="Last Name"  name= "lname" [(ngModel)] = "newUser.lname">
                    </div>
                  </div>
                <div class="field">
                    <div class="ui left icon input">
                        <input class="input" type="text" placeholder="Email" name= "email" [(ngModel)] = "newUser.email">              
                        <i class="envelope icon"></i>
                    </div>
                  </div>
                <div id="password" class="field">
                  <div class="ui left icon input">
                    <input type="password" name= "password" [(ngModel)] = "newUser.password" >
                    <i class="lock icon"></i>
                  </div>
                  </div>
                <input [routerLink] ="['/dashboard']" id="submit" type="submit" value="Create Account">
              </div>
            </div>
        </form>
      
</div>
</div> -->


<!DOCTYPE html>
<head>
  <title>SignUp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
</head>

  <!-- <div class="ui centered  grid container"> -->

    <div class="ui text container">


      <div class="three ui  buttons center aligned grid container" style="margin:20px;">


        <div class=" ui  big basic violet button" id="accountS">

          <div class="content " style="font-size:12px; color:white;">ACCOUNT SETUP</div>
        </div>


        <button class=" ui  big disabled blue basic button" id="socialP">
             <div class="content" style="font-size:12px; color:white;">SOCIAL PROFILE</div>
             </button>


      </div>


      <div class="row"></div>
      <div class="row"></div>


      <div id="account">


        <div class="ui center aligned  segment container " id="signUpBox" >


          <div class="ui centered header">
            <h1 class="font" style="color:white;">Create your account</h1>
          </div>

          <form class="ui form">
              <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" placeholder="Name">
                  </div>
                </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="envelope icon"></i>
                <input type="text" placeholder="Email">
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" placeholder="Password">
              </div>
            </div>

            <div class="one ui buttons">
              <button class="ui  inverted violet  medium button next1 ">Next</button>
            </div>

          </form>


        </div>

      </div>


      <div id="social">


        <div class="ui center aligned  segment container " id="signUpBox" >


          <div class="ui centered header">
            <h1 class="font" style="color:rgb(50,153,153);">Social Profile</h1>
          </div>

          <form class="ui form">
            <div class="field">
              <div class="ui left icon input">
                <i class="twitter icon"></i>
                <input type="text" placeholder="twitter">
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <i class="facebook icon"></i>
                <input type="text" placeholder="facebook">
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <i class="github icon"></i>
                <input type="text" placeholder="github">
              </div>
            </div>

            <!-- BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS-->

            <div class="two ui buttons">
              <button class="ui  inverted violet  medium button prev1">Previous</button>
              <button class="ui  inverted violet  medium button submit">Submit</button>
            </div>

          </form>


        </div>

      </div>



    </div>
  <!-- </div> -->

