<div class="ui inverted vertical footer segment footer">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Contact Us</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">GLselector FAQ</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Help support this project.</h4>
        <div class="ui inverted link list">
        <p class="item" >Free and Open Source (MIT).         <i class="handshake outline icon big"></i>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>