i {
    padding: 0 30px;
}
.footer {
    padding: 10px;
    padding-bottom: 0;
}
h4{
    margin-bottom:0;
}
.ui.inverted.header{
    margin-bottom:2px;
}
div.four.wide.column{
    padding-bottom:10px;
}
.ui.grid{
    justify-content:center;
}